/* Footer.css */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Lägg till lite mellanrum över ikonerna */
  }
  
  .footer-link {
    margin: 0 10px; /* Lägg till lite mellanrum mellan ikonerna */
    font-size: 24px; /* Gör ikonerna större */
    color: #1679b7; /* Exempel på färg */
  }
  
  
  