/* Header styles */
.header {
  background-color: white; 
  padding: 0px;
  text-align: center;
  color: black;
}

/* Header h1 styles */
.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em; 
  text-transform: uppercase; 
}

/* First letter styles */
.first-letter {
  font-size: 1.5em; 
  color: #1679b7; 
  font-weight: bold; 
}

.header-title {
  color: inherit; /* Arv färg från förälder (header) */
  text-decoration: none; /* Ingen understrykning */
  margin-top: 20px;
}
