.header {
  background-color: #f2f4f5;  /* Exempel på bakgrundsfärg */
  padding: 20px;
  text-align: center;
  color: black;
}
.header h1 {
  font-size: 3em; /* Gör rubriken större */
  text-transform: uppercase; /* Använd stora bokstäver för rubriken */
}

.first-letter {
  font-size: 1.5em; /* Exempel på storlek */
  color: #1679b7; /* Exempel på färg */
  font-weight: bold; /* Exempel på fetstil */
}