/* Header styles */
.header {
  background-color: white; 
  padding: 10px;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

/* Header h1 styles */
.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em; 
  text-transform: uppercase; 
}

/* First letter styles */
.first-letter {
  font-size: 1.5em; 
  color: #1679b7; 
  font-weight: bold; 
}