/* Container styles for the projects section */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 500px;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
}

/* Heading styles for the projects section */
.projects-heading {
    color: #333;
    text-align: center;
}

/* Description styles for the projects section */
.projects-description {
    text-align: center;
    color: #666;
    margin: 10px auto 10px
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

/* List item styles */
li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 8px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
}

/* Link styles */
.projects-container a, 
.projects-container a:visited, 
.projects-container a:hover, 
.projects-container a:active {
    color: black; 
    text-decoration: none; 
}