*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f2f4f5;  /* Exempel på bakgrundsfärg */
}

.header {
    background-color: #f2f4f5;  /* Exempel på bakgrundsfärg */
    padding: 20px;
    text-align: center;
    color: black;
}
.header h1 {
    font-size: 2em; /* Gör rubriken större */
    text-transform: uppercase; /* Använd stora bokstäver för rubriken */
  }

.first-letter {
    font-size: 1.5em; /* Exempel på storlek */
    color: #1679b7; /* Exempel på färg */
    font-weight: bold; /* Exempel på fetstil */
  }
  
/* Navbar.css */

nav {
    display: flex;
    justify-content: center; /* Centrera horisontellt */
    align-items: center;
  }
  
  .hamburger {
    display: block; /* Visa hamburgerikonen i alla lägen */
    cursor: pointer;
  }
  
  /* Meny länkar */
  .menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 35%;  /* Centrera vertikalt */
    left: 50%; /* Centrera horisontellt */
    transform: translate(-50%, -50%); /* Justera så att centrum av elementet ligger i mitten */
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    border: 1px solid #0f0f0f;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0.95;
}
  
  /* Stilar för hamburgermenyn när den är öppen */
  .menu.open {
    display: flex; /* Visa menyn när den är öppen */
    border-color: #000000; /* Ändra ramfärgen när menyn är öppen */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Lägg till en skugga när menyn är öppen */
  }
  
  .menu.open a {
    color: #000000; /* Ändra länkfärgen när menyn är öppen */
  }
  
  /* Media query för att justera placeringen av menyn när skärmen är mindre än 768px */
  @media screen and (max-width: 768px) {
    .menu {
      top: 60px; /* Justera avståndet från toppen när skärmen är mindre än 768px */
    }
  }
  
  
  
  /* Stilar för hamburgerikonsymbolen */
  .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: transform 0.3s ease; /* Lägg till en smidig övergång */
  }
  
  /* Stilar för hamburgarikonsymbolen när menyn är öppen */
  .line.open.line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .line.open.line2 {
    opacity: 0;
  }
  
  .line.open.line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  
/* index.css */

/* Stilar för home-container */
.home-container {
    text-align: center; /* Centrera innehållet horisontellt */
    padding: 20px; /* Lägg till lite utfyllnad för utseendet */
  }
  
  /* Stilar för home-title */
  .home-title {
    font-size: 2.5rem; /* Större textstorlek för titeln */
    margin-bottom: 20px; /* Avstånd från titeln till nästa element */
  }
  
  /* Stilar för home-text */
  .home-text {
    font-size: 1.2rem; /* Mindre textstorlek för beskrivningen */
    color: #555; /* Mörkgrå färg för beskrivningen */
    margin-bottom: 20px; /* Avstånd från beskrivningen till bildgalleriet */
  }
  
  /* Stilar för home-gallery */
  .home-gallery {
    display: flex; /* Använd flexbox för att placera länkarna bredvid varandra */
    justify-content: center; /* Centrera länkarna horisontellt */
  }
  
  /* Stilar för home-link */
  .home-link {
    position: relative; /* Relativ positionering för att rymma absolut positionerade element */
    margin: 0 10px; /* Avstånd mellan varje länk */
  }
  
  /* Stilar för gallery-image */
  .gallery-image {
    width: 200px; /* Bredden på bilderna */
    height: 200px; /* Höjden på bilderna */
    object-fit: cover; /* Anpassa bilden för att passa in i behållaren och behålla proportionerna */
    transition: filter 0.3s ease; /* Lägg till en övergång för filtereffekten */
  }
  
  /* Stilar för gallery-caption */
  .gallery-caption {
    position: absolute; /* Absolut positionering för att placera texten över bilden */
    top: 50%; /* Placera texten vertikalt i mitten */
    left: 50%; /* Placera texten horisontellt i mitten */
    transform: translate(-50%, -50%); /* Justera positionen för att exakt centrera texten */
    background-color: rgba(255, 255, 255, 0.8); /* Bakgrundsfärg för texten med lite genomskinlighet */
    padding: 10px; /* Utfyllnad runt texten */
    border-radius: 5px; /* Avrunda hörnen på textbehållaren */
    opacity: 0; /* Gör texten osynlig som standard */
    transition: opacity 0.3s ease; /* Lägg till en övergång för opacitet */
  }
  
  /* Hovereffekt för home-link */
  .home-link:hover .gallery-image {
    filter: blur(3px); /* Lägg till en suddighetseffekt på bilden när man håller över länken */
  }
  
  .home-link:hover .gallery-caption {
    opacity: 1; /* Visa texten när man håller över länken */
  }
  

.aboutme-container {
    /* Stilar för den yttre behållaren */
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrera innehållet vertikalt */
    align-items: center; /* Centrera innehållet horisontellt */
}
  
.aboutme-heading {
    /* Stilar för rubriken */
    font-size: 2rem;
    color: #333;
}
  
.aboutme-description {
    /* Stilar för beskrivningen */
    font-size: 1rem;
    color: #666;
}
  
.aboutme-subheading {
    /* Stilar för underrubrik */
    font-size: 1.5rem;
    color: #333;
}
  
.aboutme-list {
    /* Stilar för listan */
    padding: 0;
    margin: 0;
    list-style: none;
}
  
.aboutme-list li {
    /* Stilar för listelementen */
     margin-bottom: 0.5rem;
}
.projects-container {
    /* Stilar för den yttre behållaren */
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrera innehållet vertikalt */
    align-items: center; /* Centrera innehållet horisontellt */
}
  
.projects-heading {
    /* Stilar för rubriken */
    font-size: 2rem;
    color: #333;
}
  
.projects-description {
    /* Stilar för beskrivningen */
    font-size: 1rem;
    color: #666;
    text-align: center; /* Centrera texten horisontellt */
    padding: 0 20px; /* Lägg till padding på sidorna för att undvika att texten hamnar långt ut på kanten */
}
.contact-container {
    /* Stilar för den yttre behållaren */
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrera innehållet vertikalt */
    align-items: center; /* Centrera innehållet horisontellt */
}
  
.contact-heading {
    /* Stilar för rubriken */
    font-size: 2rem;
    color: #333;
}
  
.contact-description {
    /* Stilar för beskrivningen */
    font-size: 1rem;
    color: #666;
    text-align: center; /* Centrera texten horisontellt */
    padding: 0 20px; /* Lägg till padding på sidorna för att undvika att texten hamnar långt ut på kanten */
}
  
  
    
  